.App {
  text-align: center;
  background-color: white !important;
  color: black !important;

}

.navbar-item {
  color:black;

}
#NavLink {
  color: black;
}


/* styling Navigation bar*/
.bg-purple {
  background-color:var(--heading-color)!important ;
}

.page {
  color: var(--button-text) !important;
  font-weight:bolder !important;
}

.nav-item {
  margin: 0 35px 0px 20px !important;
  color: var(--normal-text) !important;

}
.nav-link {
  color: var(--normal-text) !important;
  font-family: 'Roboto', sans-serif;
  font-weight:bolder !important;
  text-align: left !important;
  display: flex !important;
  justify-content: flex-start !important;
}
.nav-link:hover {
  font-weight: bold !important;
  text-decoration:underline 2pt solid  rgb(223, 167, 83) !important;
  transform: 2s ease-in ;

}
.navbar-brand {
  font-family: 'Great Vibes',;
  font-size: 32px !important;
  align-items: start !important;
  display: flex;
  justify-content: flex-start !important;
  color: rgb(223, 167, 83) !important;
  
}
.active {
  font-weight: bold;
}
.nav-icon{
  padding: 8px !important;
  width: 2.6rem !important;
  height: auto !important;
  color:  rgb(223, 167, 83) !important;
}

/* Styling he Home page  */

.landing-page-img {
 max-width:80% !important;
 max-height:60% !important;
}

/* Styling Profile Page */
.profile-container {
  text-align: center;
  margin-top: 50px;
}

.login-form {
  width: 35%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  text-align: start !important;
  margin-bottom: 20px;
  margin-left: 12px !important;
}
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(223, 167, 83) !important;
  border-radius: 4px;
}

.btn-primary {
  background-color: white !important;
  color: black !important;
  border: 2pt solid  rgb(223, 167, 83) !important ;
  font-weight:bold !important;
  margin-bottom: 20px;
}
.btn-primary:hover {
  background-color: rgb(223, 167, 83) !important;
  border: 2pt solid black !important;
  margin-bottom: 20px;
}
.Active {
  background-color: rgb(223, 167, 83) !important;
}