.App {
  text-align: center;
  background-color: white !important;
  color: black !important;

}

.navbar-item {
  color:black;

}
#NavLink {
  color: black;
}


/* styling Navigation bar*/
.bg-purple {
  background-color:var(--heading-color)!important ;
}

.page {
  color: var(--button-text) !important;
  font-weight:bolder !important;
}

.nav-item {
  margin: 0 35px 0px 20px !important;
  color: var(--normal-text) !important;

}
.nav-link {
  color: var(--normal-text) !important;
  font-family: 'Roboto', sans-serif;
  font-weight:bolder !important;
  text-align: left !important;
  display: flex !important;
  justify-content: flex-start !important;
}
.nav-link:hover {
  font-weight: bold !important;
  text-decoration:underline 2pt solid  rgb(223, 167, 83) !important;
  transform: 2s ease-in ;

}
.navbar-brand {
  font-family: 'Great Vibes',;
  font-size: 32px !important;
  align-items: start !important;
  display: flex;
  justify-content: flex-start !important;
  color: rgb(223, 167, 83) !important;
  
}
.active {
  font-weight: bold;
}
.nav-icon{
  padding: 8px !important;
  width: 2.6rem !important;
  height: auto !important;
  color:  rgb(223, 167, 83) !important;
}