.App {
  text-align: center;
  background-color: white !important;
  color: black !important;

}

.navbar-item {
  color:black;

}
#NavLink {
  color: black;
}


/* styling Navigation bar*/
.bg-purple {
  background-color:var(--heading-color)!important ;
}

.page {
  color: var(--button-text) !important;
  font-weight:bolder !important;
}

.nav-item {
  margin: 0 35px 0px 20px !important;
  color: var(--normal-text) !important;

}
.nav-link {
  color: var(--normal-text) !important;
  font-family: 'Roboto', sans-serif;
  font-weight:bolder !important;
  text-align: left !important;
  display: flex !important;
  justify-content: flex-start !important;
}
.nav-link:hover {
  font-weight: bold !important;
  text-decoration:underline 2pt solid  rgb(223, 167, 83) !important;
  transform: 2s ease-in ;

}
.navbar-brand {
  font-family: 'Great Vibes',;
  font-size: 32px !important;
  align-items: start !important;
  display: flex;
  justify-content: flex-start !important;
  color: rgb(223, 167, 83) !important;
  
}
.active {
  font-weight: bold;
}
.nav-icon{
  padding: 8px !important;
  width: 2.6rem !important;
  height: auto !important;
  color:  rgb(223, 167, 83) !important;
}

/* Styling he Home page  */

.landing-page-img {
 max-width:80% !important;
 max-height:60% !important;
}

@media (max-width: 768px) {
  .landing-page-img {
    max-width:100% !important;
    max-height:100% !important;
  }
}

/* Styling Profile Page */
.profile-container {
  text-align: center;
  margin-top: 50px;
}

.login-form {
  width: 35%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
  margin-top: 10px;
}

.form-label {
  display: block;
  font-weight: bold;
  text-align: start !important;
  margin-bottom: 20px;
  margin-left: 12px !important;
}
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(223, 167, 83) !important;
  border-radius: 4px;
}

.btn-primary {
  background-color: white !important;
  color: black !important;
  border: 2pt solid  rgb(223, 167, 83) !important ;
  font-weight:bold !important;
  margin-bottom: 20px;
}
.btn-primary:hover {
  background-color: rgb(223, 167, 83) !important;
  border: 2pt solid black !important;
  margin-bottom: 20px;
}
.Active {
  background-color: rgb(223, 167, 83) !important;
}
/*Styling Bottom Navigation Bar*/
.bottom-icon{
  color: rgb(223, 167, 83) !important;
}
#label {
  color:black !important;
}
/* styling the contat form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form {
  width: 450px; 
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  color:rgb(223, 167, 83) !important;
  font-weight:bold;
  align-items: right !important;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.error {
  color:red;
  font-size:12px;
  text-align:left;
}

/* Stylig the services page */

.title, .price {
color:rgb(223, 167, 83) !important;
font-weight:bold;
font-size: 20px;
text-align: center;
}

.card-text {
  color: white !important;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.landing-page {
  height:520px !important;
  width:700px !important;
  display: block;
  margin: 0 auto;
}
/* for mobile screen */

.landing-page {
  height:520px !important;
  width:750px !important;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .col-sm {
    align-items: center !important;
    display:block !important;
    margin:0 auto !important;
  }
}
